*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav img{
    width: 20%;
    height: 15%;
    
}
.carousel-item{
    height: 20vw;
    max-height: 200px;
   
}
.carousel-item img{
    height: 100%;
    object-fit: cover;
}

.mensaje{
    padding: 10 px;
}
.caja{
    display: flex;
    justify-content: center;
}
.cajaContacto{
    width: 70%;
    height: auto;
}
#targetas img{
    width: auto;
    height: 25vh;

}
.cardText{
    width: auto;
    height: 15vh;
}

#carde{
    height: 50%;
    width: 50%;
}
#cardeta{
    min-height: auto;
}
.imagenDetails{
    height: 100%;
   object-fit: cover;
}
footer {
   
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
  background-color: #333; 
    color: #fff;
    padding: 5px 0;
}